In [1]:
import pandas as pd
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 10)
import json

In [72]:
df = pd.read_json("./property_details.json")
df.head()

,url,price,name,address,Bedrooms,Bathrooms,Parking Spaces,Floor Size,Erf Size,Garages,Pet Friendly,Garden,Listing Number,Type of Property,Street Address,List Date,Floor Area,Pets Allowed,excerpt,Parking,Service Charge,Zoning,Study,No Transfer Duty,No Pets Allowed,Pool,Lifestyle,Age
0,https://www.property24.co.ke/6-bedroom-house-f...,\r\n KS...,6 Bedroom House for Sale in Lavington,"Lavington Kileleshwa, Lavington, Nairobi",6.0,6.0,\r\n ...,\r\n ...,0.75 acres,4.0,Yes,Yes,114727936,House,"Lavington Kileleshwa, Lavington",30 July 2024,400 m²,Yes,\r\n 6 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,https://www.property24.co.ke/4-bedroom-house-f...,\r\n KS...,4 Bedroom House for Sale in Loresho,"Loresho Nairobi, Loresho, Nairobi",4.0,4.0,\r\n ...,\r\n ...,1 acres,4.0,Yes,Yes,114715891,House,"Loresho Nairobi, Loresho",26 July 2024,400 m²,Yes,\r\n Hi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,https://www.property24.co.ke/6-bedroom-house-f...,\r\n KS...,6 Bedroom House for Sale in Nyari,"Nyari Kitisuru, Nyari, Nairobi",6.0,6.0,\r\n ...,\r\n ...,0.75 acres,8.0,Yes,Yes,114694760,House,"Nyari Kitisuru, Nyari",22 July 2024,500 m²,Yes,\r\n Ex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,https://www.property24.co.ke/6-bedroom-house-f...,\r\n KS...,6 Bedroom House for Sale in Nyari,"Nyari Kitisuru, Nyari, Nairobi",6.0,6.0,\r\n ...,\r\n ...,0.75 acres,8.0,Yes,Yes,114710649,House,"Nyari Kitisuru, Nyari",25 July 2024,500 m²,Yes,\r\n Ex...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,https://www.property24.co.ke/6-bedroom-house-f...,\r\n KS...,6 Bedroom House for Sale in Nyari,"Nyari Kitisuru, Nyari, Nairobi",6.0,7.0,\r\n ...,NaN,0.75 acres,14.0,Yes,Yes,114721107,House,"Nyari Kitisuru, Nyari",28 July 2024,NaN,Yes,\r\n 6 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df["Erf Size"].unique()

array(['0.75 acres', '1 acres', '3 200 m²', '0.5 acres', nan, '399 m²',
       '800 m²', '52 acres', '1 m²', '0.5 m²', '0.55 acres', '0.25 acres',
       '17 acres', '520 acres', '0.25 m²', '2 023 m²', '5 acres',
       '0.13 acres', '1.15 acres', '2 100 m²', '0.4 acres', '2 acres',
       '1 100 m²', '0.8 acres', '0.09 m²', '0.98 acres', '17 m²',
       '2 400 m²', '0.9 acres', '72 acres', '1.1 acres', '0.22 ha',
       '52 052 acres', '502 m²', '52 m²', '2 m²', '1 000 m²', '463 m²',
       '0.13 m²', '0.12 acres', '600 m²', '300 m²', '18 210 m²',
       '4 827 m²', '0.05 m²', '2.1 acres', '2 025 m²', '50 ha',
       '2 023.43 m²', '131 m²', '3 acres', '0.05 ha', '0.57 acres',
       '0.2 ha', '0.75 m²', '500 m²', '10 acres', '0.6 acres', '134 m²',
       '480 m²', '400 m²', '0.69 acres', '4 acres', '499 m²', '1.5 acres',
       '2 000 m²', '0.11 acres', '5 500 m²', '205 m²', '1.3 acres',
       '55 000 m²', '4 000 m²', '1 605 m²', '4 047 m²', '2.5 acres',
       '1.53 acres', '978 m²', '370.03 m²', '30 ha', '1.2 acres',
       '56 acres', '120 m²', '521 acres', '54.56 acres', '4 m²', '0.4 m²',
       '6.4 acres', '0.26 acres', '1.8 acres', '100 m²', '2.8 acres',
       '0.1 acres', '0.15 acres', '1.8 m²', '425 m²', '5 m²', '408 m²',
       '450 m²', '25 acres', '0.07 ha', '1 600 m²', '52 100 acres',
       '0.18 acres', '521 m²', '11 acres', '0.56 acres', '1 200 m²',
       '190 m²', '6 acres', '0.71 acres', '1 ha', '334 m²', '0.7 acres',
       '0.3 acres', '4 046.86 m²', '0.5 ha', '0.12 m²', '195 m²',
       '0.25 ha', '0.56 m²', '1 011 m²', '50 acres', '330 m²', '700 m²',
       '0.9 m²', '1.25 acres', '456 m²', '0.01 acres', '1 853 m²',
       '180.32 m²', '220 m²', '2 850 m²', '0.97 m²', '9 acres', '0.45 m²',
       '0.14 m²', '50 000 005 m²', '465 m²', '8.1 acres', '1.5 m²',
       '200 m²', '0.45 acres', '490 m²', '0.35 acres', '460 m²',
       '12 547 m²', '0.14 acres', '4 578 m²', '24 000 m²', '130 m²',
       '0.6 m²', '610 m²', '1 800 m²', '464 m²', '1 350 m²', '801 acres',
       '505.85 m²', '5 000 m²', '508 m²', '0.2 acres', '6 717 m²',
       '0.06 m²', '13.79 acres', '1.2 m²', '1.25 m²', '210 m²',
       '0.58 acres', '2.96 acres', '350 m²', '0.09 ha', '0.08 acres',
       '550 m²', '0.04 ha', '0.09 acres', '0.16 acres', '340 m²',
       '2 800 m²', '0.03 ha', '3.13 acres', '250 m²', '157 m²', '125 m²',
       '699 m²', '950 m²', '1.02 acres', '12.2 acres', '0.1 ha', '150 m²',
       '1.12 acres', '1.28 acres', '4.5 m²', '20 m²', '0.19 ha',
       '0.28 m²', '320 m²', '0.46 acres', '0.38 acres', '0.48 acres',
       '257 m²', '81 acres', '0.26 m²', '125 acres', '0.23 ha', '0.11 m²',
       '3 ha', '900 m²', '890 m²', '0.2 m²', '0.7 m²', '1 467 m²',
       '505.86 m²', '4 045 m²', '0.11 ha', '521 021 acres', '130 000 m²',
       '1.33 acres', '0.74 acres', '200 acres', '0.36 acres', '297 m²',
       '0.12 ha', '3 000 m²', '506 m²', '1 358 m²', '6 800 m²',
       '500.5 acres', '1.93 acres', '50 050 ha', '3 m²', '8 000 m²',
       '0.65 acres', '0.32 acres', '6 200 m²', '0.52 acres', '1.08 acres',
       '8 976 m²', '3 202 m²', '0.24 acres', '0.31 acres', '205 acres',
       '0.23 acres', '5 ha', '185.81 m²', '310 m²', '46 m²', '0.06 ha',
       '11.36 acres', '0.03 acres', '10 000 acres', '0.45 ha',
       '4.3 acres', '4 046 m²', '11 ha', '511 m²', '85 acres', '160 m²',
       '4 046.85 m²', '186 m²', '0.44 acres', '3.8 m²', '8 094 m²',
       '1.6 acres', '3.7 acres', '334.45 m²', '20 acres', '2.7 acres',
       '24 281.1 m²', '1 348 m²', '2.65 acres', '118 m²', '500 002 ha',
       '0.49 acres', '180 m²', '0.05 acres', '40 m²', '0.34 acres',
       '0.21 m²', '0.19 m²', '1.16 acres', '140 m²', '1 011.71 m²',
       '0.02 acres', '0.85 ha', '0.87 acres', '4.1 acres', '0.62 acres',
       '380 m²', '0.82 acres', '4 800 m²', '0.8 m²', '18 acres', '61 m²',
       '0.04 acres', '374 m²', '145 m²', '15 000 m²', '472.7 m²',
       '335 m²', '0.79 acres', '13 acres', '3 035 m²', '1.4 acres',
       '1 690 m²', '298 m²', '540 m²', '15 acres', '505 m²', '2.25 m²',
       '8 m²', '0.16 ha', '2.9 acres', '0.85 acres', '0.33 m²',
       '0.07 acres', '509 m²', '0.8 ha', '0.04 m²', '3 036 m²', '894 m²',
       '1.75 acres', '3.8 acres', '430 m²', '227 m²', '1 618 m²',
       '0.67 acres', '0.52 m²', '1.35 acres', '580 m²', '650.32 m²',
       '1.9 acres', '255 m²', '0.51 acres', '55 acres', '925 m²',
       '7 500 m²', '0.88 acres', '170 m²', '0.35 m²', '1 005 m²', '80 m²',
       '9.4 acres', '0.3 m²', '5 115 m²', '6 m²', '1 012 m²', '3 238 m²',
       '123 m²', '720 m²', '60 m²', '3 399 m²', '989 m²', '0.1 m²',
       '620 m²', '110 m²', '234 m²', '8 acres', '1 230 m²', '264 m²',
       '4.2 acres', '0.24 m²', '0.08 ha', '0.15 ha', '508 acres',
       '0.6 ha', '265 m²', '0.15 m²', '2 500 m²', '0.02 ha', '8 045 m²',
       '417 m²', '505.8 m²', '0.17 acres', '226 m²', '325.16 m²',
       '230 m²', '2.95 m²', '2 040 m²', '1.55 acres', '13 000 m²',
       '4 253 m²', '1.35 m²', '1.01 acres', '0.06 acres', '58 acres',
       '464.52 m²', '10 000 m²', '250 acres', '36 778 m²', '465.8 m²',
       '3.5 acres', '650 m²', '0.26 ha', '225 m²', '3.2 acres',
       '2 024 m²', '2.2 acres', '5.2 acres', '1.67 acres', '10.55 acres',
       '2.47 acres', '470 m²', '2 448 m²', '605 m²', '8.5 m²',
       '1.7 acres', '19.1 acres', '1 500 m²', '0.37 acres', '517 m²',
       '42 000 m²', '360 m²', '13 m²', '570 m²', '2 022 m²', '4.25 acres',
       '5 380 m²', '2 300 m²', '984 m²', '7 433 m²', '85 m²', '0.7 ha',
       '2 200 m²', '3.5 ha', '0.18 ha', '57 m²', '112 m²', '211 m²',
       '3 034 m²', '278.7 m²', '2.5 m²', '0.01 m²', '5 213 789 m²',
       '3.1 acres', '1.98 acres', '3.3 acres', '0.56 ha', '0.01 ha',
       '0.83 acres', '750 m²', '40 200 m²', '0.75 ha', '156 m²',
       '564 789 m²', '0.27 ha', '0.02 m²', '240 m²', '175 m²', '90 m²',
       '4 454 m²', '970 m²', '245 m²', '6 500 m²', '50 m²', '566.6 acres',
       '20 000 m²', '454 654 m²', '23 m²', '6 774.75 m²', '65 m²',
       '21.1 acres', '4 900 m²', '0.9 ha'], dtype=object)

In [73]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23231 entries, 0 to 23230
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   url               23231 non-null  object
 1   price             23231 non-null  object
 2   name              23231 non-null  object
 3   address           23231 non-null  object
 4   Bedrooms          22698 non-null  float64
 5   Bathrooms         22276 non-null  float64
 6   Parking Spaces    11406 non-null  object
 7   Floor Size        5267 non-null   object
 8   Erf Size          6329 non-null   object
 9   Garages           11405 non-null  float64
 10  Pet Friendly      18945 non-null  object
 11  Garden            21208 non-null  object
 12  Listing Number    23231 non-null  int64
 13  Type of Property  23231 non-null  object
 14  Street Address    10947 non-null  object
 15  List Date         23231 non-null  object
 16  Floor Area        5267 non-null   object
 17  Pets Allowed      18974 non-null  object
 18  excerpt           23231 non-null  object
 19  Parking           10985 non-null  object
 20  Service Charge    647 non-null    object
 21  Zoning            45 non-null     object
 22  Study             6 non-null      object
 23  No Transfer Duty  3 non-null      object
 24  No Pets Allowed   29 non-null     object
 25  Pool              3 non-null      object
 26  Lifestyle         1 non-null      object
 27  Age               1 non-null      float64
dtypes: float64(4), int64(1), object(23)
memory usage: 5.0+ MB

In [54]:
df.dtypes

price                object
name                 object
address              object
Bedrooms            float64
Bathrooms           float64
                     ...
No Transfer Duty     object
No Pets Allowed      object
Pool                 object
Lifestyle            object
Age                 float64
Length: 27, dtype: object

In [80]:
df[df["Erf Size"]=="521 acres"]["price"].str.replace(r"[\r\n\s]", "", regex=True).str.strip()

1512     KSh14800000
1618     KSh10500000
2137     KSh32000000
2925     KSh11500000
4520     KSh19000000
            ...
5575     KSh17000000
6055     KSh26000000
8011     KSh15500000
8611     KSh22000000
10687    KSh10800000
Name: price, Length: 13, dtype: object

In [55]:
df["price"] = df["price"].str.replace(r"[\r\n\s]", "", regex=True).str.strip()

In [56]:
df

,price,name,address,Bedrooms,Bathrooms,Parking Spaces,Floor Size,Erf Size,Garages,Pet Friendly,Garden,Listing Number,Type of Property,Street Address,List Date,Floor Area,Pets Allowed,excerpt,Service Charge,Parking,Zoning,Study,No Transfer Duty,No Pets Allowed,Pool,Lifestyle,Age
0,KSh150000000,5 Bedroom House for Sale in Lavington,"Lavington Kileleshwa, Lavington, Nairobi",5.0,5.0,\r\n ...,\r\n ...,0.5 acres,3.0,Yes,Yes,114677612,House,"Lavington Kileleshwa, Lavington",17 July 2024,358 m²,Yes,\r\n Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KSh350000000,4 Bedroom House for Sale in Runda,"Runda Kitisuru, Runda, Nairobi",4.0,4.0,\r\n ...,\r\n ...,0.5 acres,7.0,Yes,Yes,114689512,House,"Runda Kitisuru, Runda",20 July 2024,600 m²,Yes,\r\n In...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,KSh115000000,5 Bedroom House for Sale in Nyari,"Nyari Kitisuru, Nyari, Nairobi",5.0,5.0,\r\n ...,\r\n ...,1 acres,4.0,Yes,Yes,114689639,House,"Nyari Kitisuru, Nyari",20 July 2024,500 m²,Yes,\r\n Th...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,KSh150000000,5 Bedroom House for Sale in Lavington,"Lavington Kileleshwa, Lavington, Nairobi",5.0,5.0,\r\n ...,\r\n ...,0.5 acres,3.0,Yes,Yes,114710788,House,"Lavington Kileleshwa, Lavington",25 July 2024,358 m²,Yes,\r\n Pr...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,KSh28000000,4 Bedroom House for Sale in Kiambu Road,"Njathaini Rd Kiambu County, Kiambu Road, Nairobi",4.0,5.5,\r\n ...,\r\n ...,1 000 m²,3.0,Yes,Yes,114583590,House,"Njathaini Rd Kiambu County, Kiambu Road",26 June 2024,234 m²,Yes,\r\n Gr...,KSh 10 000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23515,KSh450000000,6 Bedroom House for Sale in Muthaiga,"Nairobi, Muthaiga",6.0,5.0,NaN,NaN,NaN,NaN,NaN,Yes,111993303,House,NaN,07 November 2022,NaN,NaN,\r\n 6 ...,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23516,KSh63000000,5 Bedroom House for Sale in Tigoni,Newly Renovated 5 Bedroom Double Storey House ...,5.0,4.0,NaN,NaN,NaN,NaN,NaN,Yes,108903147,House,NEWLY RENOVATED 5 BEDROOM DOUBLE STOREY HOUSE ...,23 July 2020,NaN,NaN,\r\n Lo...,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23517,KSh700000000,5 Bedroom House for Sale in Spring Valley,"Spring Valley, Spring Valley, Nairobi",5.0,5.0,\r\n ...,NaN,NaN,5.0,Yes,Yes,106789198,House,"Spring valley, Spring Valley",27 September 2018,NaN,Yes,\r\n 5 ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23518,KSh13500000,4 Bedroom House for Sale in Ruai,"Nairobi, Ruai",4.0,3.0,\r\n ...,NaN,NaN,1.0,Yes,Yes,113807361,House,NaN,05 January 2024,NaN,Yes,\r\n Fi...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23519,KSh70000000,5 Bedroom House for Sale in Loresho,"Nairobi, Loresho",5.0,NaN,NaN,NaN,NaN,NaN,Yes,Yes,108777323,House,NaN,19 June 2020,NaN,Yes,\r\n Lo...,NaN,Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df["currency"] = df["price"].str.extract(r"([^\d]+)")
df["price"] = df["price"].str.extract(r"(\d+)")
df["price2"] = pd.to_numeric(df["price"], errors='coerce')

In [64]:
df[["price", "price2", "currency"]]

           price       price2 currency
0      150000000  150000000.0      KSh
1      350000000  350000000.0      KSh
2      115000000  115000000.0      KSh
3      150000000  150000000.0      KSh
4       28000000   28000000.0      KSh
...          ...          ...      ...
23515  450000000  450000000.0      KSh
23516   63000000   63000000.0      KSh
23517  700000000  700000000.0      KSh
23518   13500000   13500000.0      KSh
23519   70000000   70000000.0      KSh

[23520 rows x 3 columns]

In [50]:
# Convert 'price2' to numeric, setting errors='coerce' to NaN for invalid entries
df["price2_numeric"] = pd.to_numeric(df["price2"], errors='coerce')

# Identify rows where 'price2_numeric' is NaN (indicating invalid entries)
invalid_entries = df[df["price2_numeric"].isna()].price.unique()

print("Rows with invalid 'price2' entries:")
invalid_entries

Rows with invalid 'price2' entries:

array(['POA'], dtype=object)